<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
</head>

<body>

  <h1>책 관리 프로그램</h1>
  <a href="#">책 등록</a>
  <br>
  <br>
  <a href="/deleteUpdate/page">책 검색, 수정, 삭제</a>

  <hr>

  <h1>모든 책 조회 <button id="searchBtn">조회</button></h1>

  <table border="1" style="border-collapse: collapse;">

    <thead>
      <th>책 번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>가격</th>
      <th>등록일</th>
    </thead>


    <tbody>
      <tr th:each="book : ${bookList}" th:object="${book}">
        <td th:text="*{bookNo}">할 일 번호</td>

        <td>
          <td th:text="*{bookTitle}">완료 여부(Y/N)</td>
        </td>
        <td th:text="*{bookWriter}">완료 여부(Y/N)</td>
        <td th:text="*{bookPrice}">완료 여부(Y/N)</td>
        <td th:text="*{regDate}">등록일</td>
      </tr>

    </tbody>




  </table>






  <script src="/js/main.js"></script>
</body>

</html>