<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>책 검색, 수정, 삭제</title>
</head>

<body>

  <h1>책 검색, 수정, 삭제</h1>

    책 제목 : <input type="text" name="searchBookName" id="searchBookName" placeholder="책 제목 입력해라"> <button id="searchBtn">검색</button>





  

  <hr>


  <table border="1" style="border-collapse: collapse;">

    <thead>
      <th>책 번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>가격</th>
      <th>등록일</th>
      <th>수정 버튼</th>
      <th>삭제 버튼</th>
    </thead>


    <tbody>
      
    </tbody>
    
    <!-- <tr th:each="book : ${detailList}" th:object="${book}">
      <td th:text="*{bookNo}">할 일 번호</td>

      <td>
        <td th:text="*{bookTitle}">완료 여부(Y/N)</td>
      </td>
      <td th:text="*{bookWriter}">완료 여부(Y/N)</td>
      <td th:text="*{bookPrice}">완료 여부(Y/N)</td>
      <td th:text="*{regDate}">등록일</td>
    </tr> -->
    <!-- <tbody>
      <tr th:each="book : ${detailList}" th:object="${book}">
        <td th:text="*{bookNo}">할 일 번호</td>

        <td>
          <td th:text="*{bookTitle}">완료 여부(Y/N)</td>
        </td>
        <td th:text="*{bookWriter}">완료 여부(Y/N)</td>
        <td th:text="*{bookPrice}">완료 여부(Y/N)</td>
        <td th:text="*{regDate}">등록일</td>
      </tr>

    </tbody>  -->
<hr>

  <!-- <div th:each="book : ${detailList}">
    <h2><span th:text="${book.bookTitle}"></span></h2>
    <p><span th:text="${book.bookWriter}"></span></p> 
    </div> -->
  





  <script src="/js/deleteUpdate.js"></script>
</body>

</html>